 
{% extends 'hod_template/base_template.html' %}
{% block page_title %}
        Manage courses    
{% endblock page_title %}
{% block main_content %}
{% load static %}
<section class="content">
    <div class="container-fluid">
        <div class="content-wrappe">
            <!-- Content Header (Page header) -->    
        
            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <div class="row">
                  <!-- left column -->
                  <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Course Details</h3>
                      </div>
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                            <tr>
                              <th>Course Name</th>                          
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for course in courses %}
                            <tr>
                                 <td>{{course.Course_name}}</td>                    
                                <td><a href="/edit_course/{{course.id}}" class="btn btn-success">Edit</a>
                             </td>
                         
                       
                            {% endfor %}                        
                  
                          </tbody>
                        </table>
                      </div>
                      
                    </div>
                      </form>
                    </div>

        
                  </div>

                  </div>
                  <!--/.col (right) -->
                </div>
             
              
            </section>
            <!-- /.content -->
          </div>
    </div><!-- /.container-fluid -->
  </section>

  {% endblock main_content %}