{% extends 'hod_template/base_template.html' %}
{% load static %} {% block main_content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Students Personal Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b>Name</b>: {{students.admin.first_name}} {{students.admin.last_name}}</td>
                        <br>
                        <td><b>surname</b>: {{students.surname}}</td>
                        <br>
                        <td><b>Registration date </b>: {{students.admin.date_joined}}</td>
                        <br>
                        <td><b>Birth certificate ID</b>: {{ students.birth_certificate_id }}</td>
                        <br>
                        <td><b>Gender:</b> {{ students.gender }}</td>
                        <br>
                        <td><b>Shehia:</b> {{ students.address }}</td>
                        <br>
                        <td><b>street address:</b> {{ students.street_address }}</td>
                        <br>
                        <td><b>house number:</b> {{ students.house_number }}</td>
                        <br>
                        <td><b>Date of birth:</b> {{ students.date_of_birth }}</td>
                        <br>
                        <td><b>Physical disability:</b> {{ students.physical_disability }}</td>
                        <br>
                        <td><b>Health status:</b> {{ students.health_status }}</td>
                        <br>
                        <td><b>Alergies :</b> {{ students.allergies }}</td>
                        <br>
                        <td><b>finished school:</b> {{ students.is_finished }}</td>
                        <br>
                        <td><b>Current level of study :</b> {{ students.school_segment }}</td>
                        <br>
                        <td><b>current class :</b> {{ students.current_class }}</td>
                        <br>
                        <br>
                        <td><b>current year :</b> {{ students.current_year }}</td>
                        <br>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Students Academic Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b>Academic Year</b>: {{ single_student.academic_year }}</td>
                        <br>
                        <td><b>Admission Date:</b> {{ single_student.admission_date }}</td>
                        <br>
                        <td><b>Registration number:</b> {{ single_student.admission_id }}</td>
                        <br>
                        <td><b>Current Class:</b> {{ single_student.class_type }}</td>
                        <br>
                        <td><b>Section:</b> {{ single_student.section_type }}</td>
                        <br>
                        <td><b>Shift:</b> {{ single_student.shift_type }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Fathers Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b>Fathers Name:</b> {{ single_student.fathers_name }}</td>
                        <br>
                        <td><b>Fathers NIDA NUMBER:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Contact Number :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>proffesional:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Status :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>Shehia:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>street address:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>house number:</b> {{ single_student.gender }}</td>
                        <br>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Mothers Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b>Mothers Name:</b> {{ single_student.mothers_name }}</td>
                        <br>
                        <td><b>Mothers NID:</b> {{ single_student.mothers_nid }}</td>
                        <br>
                        <td><b>Contact Number:</b> {{ single_student.mothers_number }}</td>
                        <br>
                        <td><b>proffesional:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Status :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>Shehia:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>street address:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>house number:</b> {{ single_student.gender }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Male Guardian Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b> Name:</b> {{ single_student.fathers_name }}</td>
                        <br>
                        <td><b> NIDA NUMBER:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Contact Number :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>proffesional:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Status :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>Shehia:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>street address:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>house number:</b> {{ single_student.gender }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Female Guardian Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b> Name:</b> {{ single_student.mothers_name }}</td>
                        <br>
                        <td><b> NID:</b> {{ single_student.mothers_nid }}</td>
                        <br>
                        <td><b>Contact Number:</b> {{ single_student.mothers_number }}</td>
                        <br>
                        <td><b>proffesional:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Status :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>Shehia:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>street address:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>house number:</b> {{ single_student.gender }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Sponser Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b> Name:</b> {{ single_student.fathers_name }}</td>
                        <br>
                        <td><b> NIDA NUMBER:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Contact Number :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>proffesional:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Status :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>Shehia:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>street address:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>house number:</b> {{ single_student.gender }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>sheha Info
            </div>
            <div class="card-body">
                <tbody>
                    <tr>
                        <td><b> Name:</b> {{ single_student.fathers_name }}</td>
                        <br>
                        <td><b> NIDA NUMBER:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Contact Number :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>proffesional:</b> {{ single_student.fathers_nid }}</td>
                        <br>
                        <td><b>Status :</b> {{ single_student.fathers_number }}</td>
                        <br>
                        <td><b>Shehia:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>street address:</b> {{ single_student.gender }}</td>
                        <br>
                        <td><b>house number:</b> {{ single_student.gender }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
  
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                 <i class="fa fa-align-justify"></i> Student Image
            </div>
            {% if students.profile_pic %}
            <img src="{{students.profile_pic}}" style="width:100px" />
        {% else %}
            <p>No profile picture available</p>
        {% endif %}
        </div>
    </div>

</div>

{% endblock main_content %}